<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<configSections>
		<section name="ajaxControlToolkit" type="AjaxControlToolkit.AjaxControlToolkitConfigSection, AjaxControlToolkit" requirePermission="false" />
	</configSections>
	<appSettings>
		<add key="Server" value="192.168.14.19:30015;" />
		<add key="LicenseServer" value="192.168.14.19:40000;" />
		<add key="DBUser" value="u1bsnY1oqg2vocbTVizYwA=="/>
		<add key="DBPwd" value="4f1YPG6XkpWZnvuYmKeV0Q=="/>
		<add key="DBName" value="VENDOR" />
		<add key="DBServer" value="192.168.14.19" />
		<add key="LicenseServer" value="192.168.14.19:40000" />
		<add key="TransURL" value="https://192.168.14.19:50000/b1s/v1/" />
		<add key="BPcreationURL" value="https://192.168.14.19:50000/b1s/v1/BusinessPartners" />
		<add key="loginURL" value="https://192.168.14.19:50000/b1s/v1/Login" />
		<add key="DBUser1" value="SYSTEM" />
		<add key="DBPwd1" value="Vnhfs!@#2k24" />
		<add key="ClientSettingsProvider.ServiceUri" value="" />
		<add key="SAPUserName" value="PJk8GTTpdQXhW5EYg1lRFg==" />
		<add key="SAPPassword" value="dNVeUMC6MjMjldt90rwltg==" />
		<add key="SQLType" value="HANA" />
		<add key="ServerIP" value="NDB@192.168.14.19:30013" />
		<add key="DBName1" value="NHFS_LIVE" />
		<add key="Log" value="D:\Techative\Sharmila\Approval Form\Log" />
		<!--<add key="TempAttachmentPath" value="D:\Techative\sathish\AttachmentTempFile" />-->
		<add key="ExpenseCode" value="1" />
		<add key="GroupCode" value="101" />
		<add key="CardType" value="S" />
		<add key="Country" value="IN" />
		<add key="WhsCode" value="QLT" />
		<add key="State" value="TN" />
		<add key="RowNum" value="0" />
		<add key="ServerType" value="HANA" />
		<!--<add key="TempImagePath" value="D:\Techative\NHFS_VRF\TempFiles\tempImage.jpg" />
		<add key="TempPdfPath" value="D:\Techative\NHFS_VRF\TempFiles\tempDocument.jpg" />-->
		<add key="ImageUploadFolder" value="D:\Techative\NHFS_VRF_FILES\Uploads" />
		<!--<add key="ImageUploadFolder" value="D:\Techative\NHFS_VRF_FILES\Uploads"/>-->
		<add key="ImageVirtualPath" value="~/Uploads/" />
		<add key="DocUrl" value="http://18.143.73.102/parse_docs/?docs_category=" />
		<add key="DocKey" value="AIzaSyBps5S0EZBgH6nX3drm-35Ehslgxc__dNg" />
		<add key="ExcelFilePath" value="D:\Vignesh\MarkdownTemplate.xlsx" />
		<add key="SMTPSERVER" value="smtp.office365.com" />
		<add key="SMTPPORT" value="587" />
		<!--<add key="MAILID" value="payments@naiduhall.co.in" />
		<add key="SMTPUSER" value="payments@naiduhall.co.in" />
		<add key="SMTPPWD" value="Py$vNh2k25#cc0*pMt$13el24" />-->

		<add key="MAILID" value="noreply@naiduhall.co.in" />
		<add key="SMTPUSER" value="noreply@naiduhall.co.in" />
		<add key="SMTPPWD" value="I@m$LeCnend*V2B#02twl2k24" />


		<add key="SSL" value="true" />
		<add key="MAILBODY" value="" />
		<add key="MAILNAME" value="" />
		<add key="VendorJsonLogPath" value="D:\Techative\VRF_LOG\Log" />
		<add key="fileSzie" value="2" />
		<add key="Log" value="D:\Techative\Sharmila\Approval Form (11-08-2026)\Approval After Log\Log" />
	</appSettings>
	<system.web>
		<customErrors mode="Off"/>
		<compilation targetFramework="4.7.2" debug="true" />
		<httpRuntime targetFramework="4.7.2" />
		<sessionState timeout="20" />
		<pages>
			<namespaces>
				<add namespace="System.Web.Optimization" />
			</namespaces>
			<controls>
				<add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
				<add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
			</controls>
		</pages>
		<webServices>
			<protocols>
				<add name="HttpGet" />
				<add name="HttpPost" />
			</protocols>
		</webServices>
	</system.web>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
				<bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Web.Infrastructure" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
				<bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
			<compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
		</compilers>
	</system.codedom>
	<ajaxControlToolkit htmlSanitizer="AjaxControlToolkit.HtmlEditor.Sanitizer.DefaultHtmlSanitizer, AjaxControlToolkit.HtmlEditor.Sanitizer" useStaticResources="true" renderStyleLinks="false" />
</configuration>
<!--ProjectGuid: 9758BE8A-112A-4566-8674-04379C44F76D-->